body{
    margin: 0;
    padding: 0;
    font-family: 'Alegreya Sans SC', serif;
  }

header{
    background: rgb(245, 187, 148);
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
  }
.nav_links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.nav_links a{
    padding: 15px;
    color:rgb(49, 38, 6);
    text-decoration: none;
    font-size:1.2em;
  }

.nav_links a:visited{
    color: rgb(49, 38, 6);
}
.register{
    text-decoration: underline;
}
p.title{
    font-size: 2.5em;
    color: black;
    font-family: 'Permanent Marker', cursive;
 }

a.skip{
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
  }
  
a.skip:focus{
    top:20px;
    color: black;
    text-decoration-style: solid;
  }

#intro{
    margin:20px;
}
h1{
    text-align: center;
    font-size: 2.5em;
    font-weight: 700;
    padding-top:10px ;
    font-family: 'Acme', sans-serif;
}
.welcome{
    text-align:center;
    font-size: 1.5em;
    font-weight: 500;
    font-family: 'Acme', sans-serif;
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width:80%;
    margin: 30px auto;
    
}
.container-card {
    padding: 2px 16px;
  }

.card-item{
    padding:5px;
    text-align: center;
}

button{
    transition-duration:0.4s;
    background-color: rgb(226, 120, 87);
    color:white;
    border: rgb(226, 120, 87);
    border-radius: 2px;
    padding: 5px 8em;
}
button:hover{
    transform: scale(1.03);
    z-index:1;
    box-shadow:0 0 5px 3px; 
}

footer{
    background-color:rgb(245, 187, 148);
    color:black;
    padding: 30px;
  }

.contact{
    text-align: center;
}
.icon{
    display:flex;
    flex-direction: row;
    justify-content:center;
}
.icon a{
    width:2em;
    height:2em;
    margin: 10px;    
}

#logo{
    animation-name: logo;
    animation-duration: 5s;
    animation-iteration-count: 1;
 }


 @keyframes logo{
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  } 

@media screen and (prefers-reduced-motion: reduce){
    /*Turn off scroll*/
    html{
        scroll-behavior: auto; /* Removes scroll animation */
    }
  
    /*Turn off transition*/
    .skip a{
      -webkit-transition: initial; /* sets to default setting */
      transition: initial; /* sets to default setting */
    }
  
    #logo{
        animation: none;
      }
  
  }

